body {
    text-align: center;
}
h1 {
    font-family: 'Bungee Spice', cursive;
}
h2 {
    color: black;
    font-family: 'Amiri Quran', serif;
}
a {
    text-decoration: none;
    font-family: 'Amiri Quran', serif;
}

a:hover {
    text-decoration: underline;
}

.languages {
    display: flex;
    justify-content: space-between;
    margin: 10%;
}